/* CSS for media Queries between 992 & 1279px  */

@media only screen and (min-width: 62em/*992px*/) and (max-width: 79.99em/*(1279px*/){

	/* CSS for Main Container */

        /* CSS for Navigation Items inside Main Container */ 

        .nav-item {
            font-size: var(--navItem9);
        }

    /*  CSS for Home Page*/

        /* Navigation: see 'CSS for Navigation Items inside Main Container' above */

        /* Main Image */

        /* Language Selection */
        
                .select-button,
                .study-test-label,
                .language-label {
                    font-size: var(--langLabel9);
                }
         
                .study-test-item,
                .language-item {
                    font-size: var(--langItem9);
                }


    /* CSS for Section page  */
            
            .subject-selector-container {
                grid-template-columns: repeat(4,var(--subjectGridColumnWidth9));
            }

                .subject-selector-container label,
                .day-selector-container label,
                .week-selector-container label {
                    font-size: var(--weekLabel9);
                 /*   border: 1px solid red;   */
                }

                    .tab-links {
                        font-size: var(--tabLink9);
                    }

                    .subject-value {
                        font-size: var(--tabLink9);
                    }

}